<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--环境-->
    <!--
        resource:连接到类路径下的属性文件
        rul:连接硬盘或网络上路径下的属性文件
    -->
    <properties resource="jdbc.properties"></properties>
    <!--设置驼峰命名规则，开启，若属性名和字段名不同，但是字段名中包含下划线，此时就可以将该属性名和对应的字段名匹配-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--别名-->
    <typeAliases>
        <package name="com.pojo"/>
    </typeAliases>
    <!--转换器-->
    <typeHandlers>
        <typeHandler handler="com.typeHandler.ExampleTypeHandler" javaType="String" jdbcType="VARCHAR"/>
    </typeHandlers>

    <environments default="oracleDev">
        <environment id="mysqlDev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <environment id="oracleDev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${oracleDriver}"/>
                <property name="url" value="${oracleUrl}"/>
                <property name="username" value="${oracleUsername}"/>
                <property name="password" value="${oraclePassword}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL"   value="mysql"></property>
        <property name="Oracle"  value="oracle"></property>
    </databaseIdProvider>
    <mappers>
        <package name="com.dao"/>
        <!--<mapper resource="com/dao/EmployeeMapper.xml"/>-->
    </mappers>
</configuration>
